<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #loading .svg-icon-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;
        }
    </style>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Gestor Franquiciados</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/colors.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/material/ripple.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/badges.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/forms.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/images.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/invoice.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/menus.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/response-messages.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/responsive-tables.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/ribbon.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/social-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/tables.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/tile-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/elements/timeline.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/icons/spinnericon/spinnericon.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/accordion-ui/accordion.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/calendar/calendar.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/carousel/carousel.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/justgage/justgage.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/morris/morris.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/piegage/piegage.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/xcharts/xcharts.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/chosen/chosen.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/colorpicker/colorpicker.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/datatable/datatable.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/datepicker-ui/datepicker.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/dialog/dialog.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/dropdown/dropdown.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/dropzone/dropzone.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/file-input/fileinput.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/input-switch/inputswitch.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/input-switch/inputswitch-alt.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/ionrangeslider/ionrangeslider.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/jcrop/jcrop.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/jgrowl-notifications/jgrowl.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/loading-bar/loadingbar.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/maps/vector-maps/vectormaps.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/markdown/markdown.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/modal/modal.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/multi-select/multiselect.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/multi-upload/fileupload.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/nestable/nestable.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/noty-notifications/noty.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/popover/popover.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/pretty-photo/prettyphoto.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/progressbar/progressbar.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/range-slider/rangeslider.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/slidebars/slidebars.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/slider-ui/slider.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/tabs-ui/tabs.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/timepicker/timepicker.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/tocify/tocify.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/tooltip/tooltip.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/touchspin/touchspin.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/uniform/uniform.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/wizard/wizard.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/xeditable/xeditable.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/chat.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/files-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/login-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/notification-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/progress-box.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/todo.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/user-profile.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/snippets/mobile-navigation.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/applications/mailbox.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/themes/admin/color-schemes/default.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/themes/components/border-radius.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css"
        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/helpers/admin-responsive.css">
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/jquery-core.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/transition.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/modernizr.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-core/jquery-cookie.js"></script>
    <script type="text/javascript">$(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });</script>
</head>

<body>
    <div id="sb-site">
        <div id="loading">
            <div class="svg-icon-loader"><img
                    src="https://agileui.com/demo/delight/demo/admin-template/../../assets/images/svg-loaders/bars.svg"
                    width="40" alt=""></div>
        </div>
        <div id="page-wrapper">
            <div id="mobile-navigation"><button id="nav-toggle" class="collapsed" data-toggle="collapse"
                    data-target="#page-sidebar"><span></span></button></div>
            <div id="page-sidebar">
                <div id="header-logo" class="logo-bg"></div>
                <div class="scroll-sidebar">
                    <ul id="sidebar-menu">
                        <li class="header"><span>Análisis de mercado</span></li>
                        <li><a href="/perfil/franquiciado/grafica_edad_cliente" title="Edad del cliente"><i
                                    class="glyph-icon icon-linecons-user"></i> <span>Edad del
                                    cliente</span></a>

                        </li>
                        </li>
                        <li><a href="/perfil/franquiciado/grafica_anuncio" title="Como se enteró de la
                            marca"><i class="glyph-icon icon-linecons-megaphone"></i> <span>Como se enteró de la
                                    marca</span></a>
                        </li>
                        <li><a href="/perfil/franquiciado/grafica_mercado" title="Posicionamiento de marcas en el
                            mercado"><i class="glyph-icon icon-linecons-globe"></i> <span>Posicionamiento de marcas en
                                    el mercado</span></a>
                        </li>
                        <br><br><br><br>
                        <li class="header"><span>Análisis de campañas publicitarias</span></li>
                        <li><a class="nav-item active" href="/perfil/franquiciado/grafica_audiencia_alcanzada"
                                title="Porcentaje de audiencia alcanzado"><i class="glyph-icon icon-linecons-note"></i>
                                <span>Porcentaje de audiencia alcanzado</span></a>
                        </li>
                        <li><a href="/perfil/franquiciado/grafica_tiempo_anuncio" title="Tiempo de anuncio que ven los
                            clientes"><i class="glyph-icon icon-linecons-clock"></i> <span>Tiempo de anuncio que ven
                                    los
                                    clientes</span></a>
                        </li>
                        <br>
                        <li><a href="/perfil/franquiciado/grafica_canales_publicitarios" title="Canales publicitario"><i
                                    class="glyph-icon icon-linecons-sound"></i> <span>Canales publicitarios</span></a>
                        </li>
                        <br>
                        <li><a></a>
                        </li>
                        <li><a></a>
                        </li>
                        <li><a></a>
                        </li>
                        <br>
                        <li><a></a>
                        </li>
                        <li><a>
                                <i</a> </li> <li><a></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="page-content-wrapper">
                <div id="page-content">
                    <div id="page-header">
                        <div id="header-nav-left"><a class="header-btn" id="logout-btn"
                                href="https://agileui.com/demo/delight/demo/admin-template/lockscreen-3.html"
                                title="Lockscreen page example"><i class="glyph-icon icon-linecons-lock"></i></a>
                            <div class="user-account-btn dropdown"><a href="#" title="My Account"
                                    class="user-profile clearfix" data-toggle="dropdown"><img width="28"
                                        src="https://user-images.githubusercontent.com/38144641/58843173-f4819600-8636-11e9-9be2-0168cc9c4f6f.png"
                                        alt="Profile image">
                                    <span>Gerente</span> <i class="glyph-icon icon-angle-down"></i></a>
                                <div class="dropdown-menu float-right">
                                    <div class="box-sm">
                                        <div class="button-pane button-pane-alt pad5L pad5R text-center"><a
                                                href="/signin"
                                                class="btn btn-flat display-block font-normal btn-danger"><i
                                                    class="glyph-icon icon-power-off"></i> Cerrar sesión</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/skycons/skycons.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/datatable/datatable.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/datatable/datatable-bootstrap.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/datatable/datatable-tabletools.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/chart-js/chart-core.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/chart-js/chart-doughnut.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/chart-js/chart-demo-1.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/flot/flot.js"></script>
                    <script type="text/javascri Fpt"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/flot/flot-resize.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/flot/flot-stack.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/flot/flot-pie.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/flot/flot-tooltip.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/flot/flot-demo-1.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/sparklines/sparklines.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/sparklines/sparklines-demo.js"></script>
                    <link rel="stylesheet" type="text/css"
                        href="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/owlcarousel/owlcarousel.css">
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/owlcarousel/owlcarousel.js"></script>
                    <script type="text/javascript"
                        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>
                    <br><br>
                    <div id="page-title">
                        <center>
                            <div class="card shadow mb-4" id="myDIV2"
                                style="width: 80%; text-align: center; border: 5px">
                                <div class="card-header py-3">
                                    <h3 class="m-0 font-weight-bold text-primary"><span id="texto_span"></span></h3>
                                    <br>
                                </div>
                                <div class="card-body">
                                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/dropdown/dropdown.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/tooltip/tooltip.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/popover/popover.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/progressbar/progressbar.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/button/button.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/collapse/collapse.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/superclick/superclick.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/input-switch/inputswitch-alt.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/slimscroll/slimscroll.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/slidebars/slidebars.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/slidebars/slidebars-demo.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/piegage/piegage.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/charts/piegage/piegage-demo.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/screenfull/screenfull.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/content-box/contentbox.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/material/material.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/material/ripples.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/widgets/overlay/overlay.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/js-init/widgets-init.js"></script>
    <script type="text/javascript"
        src="https://agileui.com/demo/delight/demo/admin-template/../../assets/themes/admin/layout.js"></script>

    <script src="../../js/perfil_franquiciado/audiencia.js"></script>
</body>

</html>